body{
  background-color: #f1f2f4;
}
.container{
  width: 500px;
  margin: auto;

}

img{
  background-color: #0056d3;
  height: 205px;
  width: 205px;
}

.container  .foto{
  text-align: center;
  padding-left: 0px;
}

.work{
  font-family: arial;
  font-size: 14px;
  color: grey;
  text-align: left;
}

hr{
    border: none; /* Убираем границу */
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 500px;
    margin-top: 15px;
}

h1{
    font-family: arial;
    text-transform: uppercase;
    text-align: center;

}
h3{font-family: arial;}
div p{
  font-family: arial;
}

ul{
  font-family: arial;
  font-weight: normal;
  font-size: 14px;
  padding-left: 35px;
}

 .container p{
   font-size: 14px;
   padding-left: 35px;
 }
.container a{
  padding-left: 35px;
  font-family: arial;;
  font-weight: bold;;
  font-style: italic;
  font-size: 14px;
}
