*{
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
}
ul{
  display: block;
}
body{
  background-image: url("../img/background_body.png");
  background-repeat: repeat-x;
  margin: 0px auto;
}
.wrapper{

  overflow: hidden;
  width: 1000px;
  height: 992px;
  margin: 0px auto 30px;
  box-shadow: 0 6px 0px -4px rgba(3,29,40,1),-7px 0 10px -7px rgba(3,29,40,1), 7px 0 10px -7px rgba(3,29,40,1), 0 0 rgba(0, 0, 0, .1);
  background-color: #ffffff;
}
header{
  position: relative;
  min-height: 100px;
  /*background-image: url("../img_hw4/photo.png");
  background-position: bottom;*/
}
header a{
  text-decoration: none;
  display: block;
}
.header{
  height: 175px;
  background: #fff;
}
  .photo img{
    border-top: 1px solid #82c0dc;
    border-bottom: 1px solid #82c0dc;
    vertical-align:bottom;
  }
.logo{
  position: relative;
  bottom: -1px;
  float: left;

  /*width: 283px;
  height: 164px;
  background-image: url("../img_hw4/logo.png");*/
}
.logo img{
  position: absolute;

  left: 25px;
  top: 10px;
}
.logo p{
  color: #128aa7;
  text-align: center;
  font-size: 12px;
  font-family: tahoma;
  padding-top: 105px;
  padding-left: 100px;
  padding-bottom: 55px;
  }
.info{
  float: right;
  color: #128aa7;
  padding-right: 30px;
  padding-top: 10px;
  font-family: tahoma;
  font-weight: normal;;

}
.info ul li{
  font-weight: normal;;
  text-align: left;
  margin-top: 5px;
}
.info ul li a{
  text-decoration: none;
  color:  #128aa7;
}
.ico{
  position: absolute;
  right: 30px;
  top: 110px;
  color: #128aa7;
  font-size: 10px;
  font-family: tahoma;
}
.ico li{
  margin-left: 15px;
  float: left;
}
.ico li a{
  color: #128aa7;
  display: block;
  text-align: center;
  text-decoration: underline;
}
.menu{
  border-top: 1px solid #5c848e;
  position: relative;
 /* FF3.6-15 */
  background: -webkit-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 93%, rgba(0,0,0,1) 97%, rgba(0,0,0,0.67) 100%), url(../img/white_triangles.png);
  background: -o-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 93%, rgba(0,0,0,1) 97%, rgba(0,0,0,0.67) 100%), url(../img/white_triangles.png);
  background: linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 93%, rgba(0,0,0,1) 97%, rgba(0,0,0,0.67) 100%), url(../img/white_triangles.png); /* Chrome10-25,Safari5.1-6 */
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-box-shadow:  0px 3px 4px 0 rgba(61,61,61,0.75);
  -moz-box-shadow:  0px 3px 4px 0 rgba(61,61,61,0.75);
  box-shadow:  0px 3px 4px 0 rgba(61,61,61,0.75);
  z-index: 5;
}

.menu li{
  position: relative;
  /*height: 29px;
  line-height:29px;*/
  float: left;
  }
  .block:after{
    content: " ";
    position:absolute;
    top: 14px;
    margin-left: 9px;
    border: 5px solid transparent;
    border-top: 6px solid #ededed;
  }

.menu li a{
  display: block;
  padding: 6px 45px 6px 10px;
  /*padding-left: 10px;
  padding-right: 45px;*/
  font-size: 14px;
  font-family: tahoma;
  color: #ffffff;

  /*background: -moz-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(48,48,48,1) 93%, rgba(0,0,0,1) 97%, rgba(0,0,0,0.67) 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, rgba(55,55,55,1) 0%,rgba(48,48,48,1) 93%,rgba(0,0,0,1) 97%,rgba(0,0,0,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, rgba(55,55,55,1) 0%,rgba(48,48,48,1) 93%,rgba(0,0,0,1) 97%,rgba(0,0,0,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#ab000000',GradientType=0 ); /* IE6-9 */
  text-decoration: none;
}
.menu li:first-child{
  padding-left: 55px;
  padding-right: 10px;
}
.menu .submenu{
  position: absolute;
  display: none;
  top: 29px;
  left: 0;
  background: #303030;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(61,61,61,0.5);
  -moz-box-shadow: 0px 3px 6px 3px rgba(61,61,61,0.5);
  box-shadow: 0px 3px 6px 3px rgba(61,61,61,0.5);
}
.menu .submenu li{

  padding-left: 0;
}
.menu .submenu li a{
  padding-left: 10px;
  padding-right: 20px;
}
.menu li:hover ul{
  display: block;
}
.container{
  overflow: hidden;
  width: 1000px;
}
.fon3{
  background: #edeef0;
  width: 1000px;
  float: left;
}
.fon2{
  background: #fff;
  float: left;
  width: 1000px;
  position: relative;
  right: 210px;
  border-right: 1px solid #e1e3e6;
}
.fon1{
  background: #edeef0;
  float: left;
  width: 1000px;
  position: relative;
  right: 580px;
  border-right: 1px solid #e1e3e6;
}
.sidebar, .content, .news{
  box-sizing: border-box;
}
 h3{
  margin-top: 12px;
  margin-bottom: 10px;
  color: #424c43;
  font-family: tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}
.sidebar p, .news p{
  line-height: 13px;
  margin-left: 15px;
  margin-bottom: 11px;
  font-family: tahoma, sans-serif;
  font-size: 14px;
  color: #424c43;
}
.sidebar{
  width: 210px;
  float: left;
  position: relative;
  left: 790px;
  }
.content{
  width:580px;
  min-height: 1px;
  float: left;
  position: relative;
  left: 790px;
}
.news{
  width: 210px;
  float: left;
  position: relative;
  left: 790px;

}
/*.news p{
  margin-left: 15px;
  margin-bottom: 12px;
  font-family: tahoma, sans-serif;
  font-size: 14px;
  color: #424c43;*/
}
footer{
  width: 205px;
  height: 30px;
  line-height: 30px;
  margin: -30px auto;
  color: #ffffff;
  font-size: 12px;
  font-family: tahoma;
}
